 // There's a lot more to do here, to factor out the scss vars and potentially reference them again existing foundation vars

// Mixins
//=========================================

// Border Radius
// @mixin border-radius($radius: 5px) {
//     -webkit-border-radius: $radius;
//     -moz-border-radius: $radius;
//     border-radius: $radius;
// }

// The dropdown menu (<ul>)
//=========================================

.datepicker {
    // @include border-radius(4px);
    &.dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        padding: 0;
        z-index: $zindex-dropdown;
        float: left;
        display: none; // none by default, but block on"open" of the menu min-width: 160px;
        list-style: none;
        background-color: $color-background;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
        color: $color-font;
        font-family: $font-family;
    }
    &.dropdown-menu, &.datepicker-inline {
        th, td {
            padding: 0 5px;
        }
    }
    direction: ltr;
    >div {
        display: none;
    }
    &.days div.datepicker-days {
        display: block;
    }
    &.months div.datepicker-months {
        display: block;
    }
    &.years div.datepicker-years {
        display: block;
    }
    table {
        background-color: $color-background;
        border: 0;
        margin: 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        thead {
          background-color: $color-background;
        }
    }
    td,
    th {
        // @include border-radius(4px);
        text-align: center;
        width: 32px;
        border: none;
        line-height: $line-height-base;
        font-size: $font-size;
    }
    table tr td {
        &.day:hover,
        &.day.focused {
            background: $color-day-hover-bg;
            cursor: pointer;
        }
        &.old,
        &.new {
            color: $color-day-disabled
        }
        &.disabled,
        &.disabled:hover {
            background: none;
            color: $color-day-disabled;
            cursor: default;
        }
        &.today,
        &.today:hover,
        &.today.disabled,
        &.today.disabled:hover {
            background-color: $color-day-today-bg;
            color: $color-font;
        }

        &.today.active:hover {
            color: $color-day-selected;
        }
        &.range,
        &.range:hover,
        &.range.disabled,
        &.range.disabled:hover {
            // @include border-radius(0);
            background: $color-day-range-selector-bg;
        }

        &.range.today,
        &.range.today:hover,
        &.range.today.disabled,
        &.range.today.disabled:hover {
            // @include border-radius(0);
            background-color: $color-day-range-today-bg;
        }

        &.selected,
        &.selected:hover,
        &.selected.disabled,
        &.selected.disabled:hover {
            background-color: $color-day-range-bg;
        }

        &.active,
        &.active:hover,
        &.active.disabled,
        &.active.disabled:hover {
            background-color: $color-day-selected-bg;
            color: $color-day-selected;
        }

        span {
            // @include border-radius(4px);
            display: block;
            width: 23%;
            height: 54px;
            line-height: 54px;
            float: left;
            margin: 1%;
            cursor: pointer;

            &:hover {
                background: $color-day-range-selector-bg;
            }

            &.disabled,
            &.disabled:hover {
                background:none;
                color: $color-day-disabled;
                cursor: default;
            }

            &.active,
            &.active:hover,
            &.active.disabled,
            &.active.disabled:hover {
                background-color: $color-day-selected-bg;
                color: $color-day-selected;
            }

            &.old, &.new {
                color: $color-day-disabled;
            }
        }
    }

    th.datepicker-switch {
        width: 145px;
    }

    thead tr:first-child th,
    tfoot tr th {
        cursor: pointer;

        &:hover {
            background: $color-day-hover-bg;
        }
    }
    /*.dow {
        border-top: 1px solid #ddd !important;
    }*/

    // Basic styling for calendar-week cells
    .cw {
        font-size: 10px;
        width: 12px;
        padding: 0 2px 0 5px;
        vertical-align: middle;
    }

    thead tr:first-child th.cw {
        cursor: default;
        background-color: transparent;
    }
}

.datepicker-inline {
    width: 220px;
}

.datepicker-rtl {
    direction: rtl;
    table tr td span {
        float: right;
    }
}
