// Variables
// =========================================

// Colours
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #ccc;
$grayLightest:          #eee;
$white:                 #fff;
$btnPrimaryBackground:  #f00;
$primary:               #f89406;
$dropdown-bg:           $white;

// Type
$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseLineHeight:        18px;
$line-height-base:      1.428571429; // 20/14
$zindex-dropdown:       1000;

// With these, let's import the datepicker library
@import 'datepicker.scss';
